<p id="notice"><%= notice %></p>

<p>
  <strong>Email:</strong>
  <%= @reminder.email %>
</p>

<p>
  <strong>When:</strong>
  <%= @reminder.when %>
</p>

<p>
  <strong>Subject:</strong>
  <%= @reminder.subject %>
</p>

<p>
  <strong>Body:</strong>
  <%= @reminder.body %>
</p>

<%= link_to 'Edit', edit_reminder_path(@reminder) %> |
<%= link_to 'Back', reminders_path %>
